mixin catalog-cart-small(name, image, price, oldPrice, icon = true, count, isEmpty)
  - let isOldPrice = oldPrice ? oldPrice : null
  - isEmptyClass = isEmpty ? 'mod-empty' : null
  .catalog-cart-small(class=isEmptyClass)&attributes(attributes)
    a(href="/" class="catalog-cart-small__link")
      img(src=`images/catalog-cart/small/${image}.jpg` alt="" class="catalog-cart-small__image")
    .catalog-cart-small__info
      a.catalog-cart-small__name(href="/")= name
      .catalog-cart-small__details-wrapper
        if isEmpty
          span.catalog-cart-small__is-empty Нет в наличии
        else
          span.catalog-cart-small__price(data-old-price=isOldPrice)= price
          if count
            span.catalog-cart-small__count= count
    if icon
      button.catalog-cart-small__delete-btn
        +icon-mono("trash")(class="catalog-cart-small__icon" width="16" height="16")
